.container {
    width: 600px;
    height: 380px;
    margin: 40px auto 0;
    text-align: center;
    border: 1px solid #d1d1d1;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    background: #fff;
    padding: 20px;
    position: relative;
}

.player {
    width: 60px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    left: 40px;
    border: 1px solid #d1d1d1;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 0.5s ease-in;
}

.player.active {
    bottom: 40px;
}

.pathWayWrapper {
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
}

.pathWay {
    border-bottom: 4px dashed;
}
